

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.span11{
	margin-bottom: 15px;
}
.mission {
	background-color: #F6B427;
	color: white;
	padding: 5px;
	width: 260px;
}

.carousel-inner{
	width: 400px;
	margin: 0px auto;
}

#myCarousel{
	width: 600px;
	margin: 0px auto;
}
















